.containerBlog h3 {
    font-size: 3rem;
}

.blogTitles {
    font-size: 2rem;
    color: #3D443C;
    text-align: center;
    margin: 30px 0;
}

.containerBlog {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    background-color: #808080;
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
        transition: 0.3s ease;
    }

    p:hover {
        transform: scale(1.05);
    }
}

.blogLeft {
    color: #3D443C;
    padding: 4rem 3rem;
    order: 2;
    
    p {
        margin: 1rem;
    }
}

.blogRight {
    height: 30rem;
}

#blogCenter {
    order: 2;
}

.containerBlog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

$bgcolor: #c9f6fc;


@for $i from 1 through 3 {
    .blog--bgcolor#{$i} {
        background-color: darken($bgcolor, $i * 15%);
    }
}

@media only screen and (max-width: 1350px) {
    .blogRight {
        display: none;
    }

    .containerBlog {
        grid-template-columns: 1fr;
    }

}