.mainContact {
    display: flex;
    height: auto;
    margin-top: 3%;
    color: #3D443C;
    background-color: #84D2D6;
}

form {
    width: 80%;
}

.contactLeft {
    display: flex;
    justify-content: center;
    flex: 50%;
    margin: 2rem 0 3rem 0;
}

.contactRight {
    width: 50%;
    background-position: center;
    background-size: cover;
    background-image: url(img/hoteleria.jpg);
}

.formButton {
    margin-top: 1rem;
}

#enviar {
    width: 10rem;
    border: 0px;
    background-color: #45898d;
    font-weight: bold;
}

#enviar:hover {
    background-color: #464646;
}

@media only screen and (max-width: 1350px) {
    .contactRight {
        display: none;
    }

    .contactLeft {
        flex: 100%;
    }
}