.containerNosTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    background-color: #84D2D6;
    justify-content: center;
}

.secs {
    color: #3D443C;
    padding: 2rem;

    h2 {
        padding: 2rem 0;
    }
}

.secCenter {
    text-align: center;

    img {
        border-radius: 50%;
    }
}

.ubicacion {
    width: 100%;
    text-align: center;

    h2 {
        color: #3D443C;
        margin: 2rem 0;
    }
}

@media only screen and (max-width: 1350px) {
    .secs {
        padding: 0.2rem 2rem;
        h2 {
            padding-top: 2rem;
        }
    }

    .containerNosTop {
        display: block;
    }

    .secCenter img {
        display: none;
    }
}